<h2>The Post-Create component</h2>
<form (submit)="onAddPost(form)" #form="ngForm">
  <mat-card>
    <mat-form-field>
      <input
        type="text"
        placeholder="Post Title"
        name="title"
        required
        ngModel
        matInput
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        placeholder="Post Content"
        name="content"
        required
        ngModel
        matInput
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <p>
      <button mat-flat-button color="primary" [disabled]="form.invalid">
        Submit
      </button>
    </p>
  </mat-card>
</form>
