.mat-card,
.mat-form-field,
textarea {
  display: block;
}

.mat-card {
  margin: 0 0 1rem;
}

input[type='file'] {
  visibility: hidden;
}

img {
  max-width: 100%;
}

@media (min-width: 768px) {
  img {
    max-width: 50%;
  }
}
